header h1 {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Crimson Text', serif;
}

h2, h3, h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 2rem;
}

p, li, nav {
    font-family: 'Nunito Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    text-decoration: underline;
}

.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.632), #ffffff), url(images-resized/scott-webb-102825.jpg);
    background-position: center;
    background-size: cover;
    background-size: 90vh;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
}

main {
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: 70px;
    position: sticky;
    top: 0px;
    z-index: 100;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-evenly;
}

.headermenu {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 102px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.header-button {
    padding: 10px;
    list-style-type: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;
}

.fa-bars {
font-size: 1.5rem;
color: #000000;
}

.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.632), #ffffff), url(images-resized/scott-webb-102825.jpg);
    background-position: center;
    background-size: cover;
    background-size: 90vh;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
}

.border {
    border: 1px solid #e4e4e4;
    margin: 50px;
}

.flexbox-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexbox-item {
    margin: 100px 200px 100px 200px;
}

.italic {
    font-style: italic;
}

footer {
    background-color: #AAAAAA;
    background-size: cover;
    padding: 30px;
    padding-left: 50px;
    margin-top: 80px;
    height: auto;
    }

    .footer-info {
        display: inline;
        padding: 30px;
    }

    @media (min-width: 800px){
        .header {
            background-size: 190vh;
        }
}

@media (min-width: 1000px){
        header label {
            display: none;
        }

        header {
            justify-content: space-evenly;
        }

        .header-button {
            padding: 0px;
        }
    
        .headermenu {
            display: block;
            position: static;
            border: none;
        }
    
        nav li {
            display: inline-block;
            padding: 0px;
        }

}

