header h1 {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Crimson Text', serif;
}

h2, h3, h4 {
    font-family: 'PT Sans Narrow', sans-serif;
}

p, li, table, nav {
    font-family: 'Nunito Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    text-decoration: underline;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.758), #00000065), url(images-resized/library-1132573_1920.jpg);
    background-position: center;
    background-size: cover;
    background-size: 90vh;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
    color: #fff;
}

main {
    padding: 10px;
}

main h2 {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: 70px;
    position: sticky;
    top: 0px;
    z-index: 100;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-evenly;
}

.headermenu {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 102px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.header-button {
    padding: 10px;
    list-style-type: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;
}

.fa-bars {
font-size: 1.5rem;
color: #000000;
}

.news-section, .exhibition-section {
    margin-top: 80px;
    border-radius: 60px;
    padding: 20px;
    background-color: #C1D3DE;
}

.news {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 20px;
}

.news img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: left;
    }

    .grid-item {
        padding: 10px;
    }

    .exhibition img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .exhibition {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        padding-top: 20px;
    }

    .cosmology {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .cosmology-image {
        grid-column-start: 2;
    }

    .evolution {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .evolution-image {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .biology {
        grid-column-start: 2;
        grid-row-start: 6;
    }

    .biology-image {
        grid-column-start: 2;
        grid-row-start: 5;
    }

    .robotics {
        grid-column-start: 2;
        grid-row-start: 8;
    }

    .robotics-image {
        grid-column-start: 2;
        grid-row-start: 7;
    }

    .ecology {
        grid-column-start: 2;
        grid-row-start: 10;
    }

    .ecology-image {
        grid-column-start: 2;
        grid-row-start: 9;
    }

footer {
    background-color: #AAAAAA;
    background-size: cover;
    padding: 30px;
    padding-left: 50px;
    margin-top: 80px;
    height: auto;
    }

    .footer-info {
        display: inline;
        padding: 30px;
    }

    @media (min-width: 800px){
        main {
            padding: 80px;
        }

        .header {
            background-size: 190vh;
        }
}

@media (min-width: 1000px){
        header label {
            display: none;
        }

        header {
            justify-content: space-evenly;
        }

        .header-button {
            padding: 0px;
        }
    
        .headermenu {
            display: block;
            position: static;
            border: none;
        }
    
        nav li {
            display: inline-block;
            padding: 0px;
        }

        .news {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 0fr;
        }

        .exhibition {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
        }

        .cosmology {
            grid-row-start: 1;
        }
    
        .cosmology-image {
            grid-column-start: 3;
        }
    
        .evolution {
            grid-column-start: 3;
            grid-row-start: 2;
        }
    
        .evolution-image {
            grid-column-start: 2;
            grid-row-start: 2;
        }
    
        .biology {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    
        .biology-image {
            grid-column-start: 3;
            grid-row-start: 3;
        }
    
        .robotics {
            grid-column-start: 3;
            grid-row-start: 4;
        }
    
        .robotics-image {
            grid-column-start: 2;
            grid-row-start: 4;
        }
    
        .ecology {
            grid-column-start: 2;
            grid-row-start: 5;
        }
    
        .ecology-image {
            grid-column-start: 3;
            grid-row-start: 5;
        }

        .exhibition img {
            width: 300px;
            height: 100%;
        }

        .grid-item {
            padding: 30px;
        }

}
